*
{
	padding: 0px;
	margin: 0px;
}
body
{
	max-width: 100%;
	overflow-x: hidden;
	background-color: #212121;
}

#startLoad
{
	position: fixed;
	width: 100vw;
	height: 100%;
	z-index: -1;
	background:#212121 url(skins/white.gif) no-repeat center;
}
#view_img
{
	position: relative;
	display: none;
	z-index: 2;
	max-width: 90vw;
	border-radius: 10px;
	left: 50%;
	transform: translate(-50%);
	/*top: 20px;*/
	/*margin-bottom: 20px;*/
}
#view_img_logo
{
	position: absolute;
	display: none;
	z-index: 2;
	max-width: 90vw;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/*top: 20px;*/
}
.back
{
	display: block;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 25px;
	color: #626262;
	text-decoration: none;
	z-index: 3;
	padding: 10px;
}

